<p class="footerClass" style="margin-top: 10px;margin-left: 1400px;font-family: cursive; color: rgb(169, 3, 3);">
    <a id="logout" href="/logout">Logout</a>
</p>
<img src="/public/image/default.jpg" alt=""/>

<p style="color: rgb(16, 21, 186);">
Username: 
<label for="username" style="color: black;"><b>{{username}}</b></label><br>
First-Name:
<label for="username"style="color: black;"><b>{{firstname}}</b></label><br>
Last-Name:
<label for="username"style="color: black;"><b>{{lastname}}</b></label><br>
Email-address:
<label for="username"style="color: black;"><b>{{email}}</b></label><br>
Age:
<label for="username"style="color: black;"><b>{{age}}</b></label><br>
Role:
<label for="username"style="color: black;"><b>{{role}}</b></label><br>

</p>

<form action="/edit" style="border: none;">
        <button type="submit"style="margin-left:1px;color: rgb(196, 7, 7);background-color:white;max-width: 100px;line-height: 30px;height:20px;padding: 0px 0px;">
            Edit Profile
        </button>
</form>
{{!-- <a id="Edit" href="/edit"></a><br> --}}

<form action="/meeting"style="border: none;">
        <button type="submit" style="border-radius:7px;color:rgb(0, 0, 0);background-color:rgb(24, 208, 95);margin-left:590px;max-width: 200px;line-height: 30px;height:30px;padding: 0px 0px">
            Create Meeting
        </button>
</form>
{{!-- <a id="Meeting" href="/meeting">Create Meeting</a><br> --}}